.element__like-icon{
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: url('https://raw.githubusercontent.com/OlegBrekalo/mesto/master/images/bttn-cursor.png'), url('../../../images/bttn-cursor.png'), pointer;
  transition: opacity 1s linear;

  background-image: url('../../../images/like-icon_white.svg');
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 21px;
}

.element__like-icon:hover{
  opacity: .5;
}
