.form__input-text {
  border: 0;
  border-bottom: 1px solid grey;

  margin-bottom: 6px;
  width: 100%;
  font-size: 14px;
  line-height: 2.5;
  padding: 1px;
}

.form__input-text:invalid {
  box-shadow: none;
}

@media screen and (max-width: 530px) {
  .form__input-text {
    font-size: 12px;
    line-height: 2.5;
    padding: 1px;

    margin-bottom: 11px;
  }
}
